.content__elements-grid {
  display: grid;
  row-gap: 20px;
}

@media screen and (min-width: 1280px) {
  .content__elements-grid {
    width: 880px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    row-gap: 17px;
    column-gap: 21px;
  }
}
