<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="HTML, CSS, JavaScript, Responsive" />
    <meta name="author" content="Dimaldon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alrededor de los EE.UU.</title>
  </head>

  <body class="root">
    <header class="header">
      <img
        class="header__logo"
        src="<%= require('./images/logo.svg')%>"
        alt="logo"
      />
      <div class="header__line"></div>
    </header>

    <main class="content">
      <section class="profile">
        <img
          class="content__profile-image"
          src="<%= require('./images/profile-image.jpg')%>"
          alt="jacques cousteau"
        />
        <div class="content__profile-title-grup">
          <div class="content__profile-title-container">
            <h1 class="content__profile-title"></h1>
            <button class="content__profile-button-edit"></button>
          </div>
          <p class="content__profile-description"></p>
        </div>
        <button class="content__profile-button-add"></button>
      </section>

      <section class="elements">
        <div id="gallery" class="content__elements-grid"></div>
      </section>
    </main>

    <footer class="footer">
      <p class="footer__text">© 2021 Alrededor de los EE.UU.</p>
    </footer>

    <!-- pop-up profile edit -->

    <section class="overlay" id="overlay__profile-edit">
      <div class="overlay__content">
        <form class="overlay__form" id="profileForm" novalidate>
          <h2 class="overlay__title">Edit profile</h2>
          <div class="overlay__form-input-grup">
            <input
              class="overlay__text-input"
              type="text"
              name="name"
              id="overlay__form-name"
              placeholder="Escribe el nombre"
              required
              minlength="2"
              maxlength="40"
            />
          </div>
          <span
            class="overlay__form-input-error overlay__form-name-error"
          ></span>

          <div class="overlay__form-input-grup">
            <input
              class="overlay__text-input"
              type="text"
              name="job"
              id="overlay__form-job"
              placeholder="Escribe la ocupación"
              required
              minlength="2"
              maxlength="200"
            />
          </div>
          <span
            class="overlay__form-input-error overlay__form-job-error"
          ></span>

          <button class="overlay__form-submit-button" type="submit">
            Guardar
          </button>
        </form>
        <button
          class="overlay__form-close-button"
          id="closeProfileOverlay"
        ></button>
      </div>
    </section>

    <!-- pop-up card add new place -->

    <section class="overlay" id="overlay__card-add">
      <div class="overlay__content">
        <form class="overlay__form" id="imageForm" novalidate>
          <h2 class="overlay__title">Nuevo lugar</h2>
          <div class="overlay__form-input-grup">
            <input
              class="overlay__text-input"
              type="text"
              name="place"
              id="overlay__form-place"
              placeholder="Título"
              required
              minlength="2"
              maxlength="30"
            />
          </div>
          <span
            class="overlay__form-input-error overlay__form-place-error"
          ></span>

          <div class="overlay__form-input-grup">
            <input
              class="overlay__text-input"
              type="url"
              name="imageURL"
              id="overlay__form-imageURL"
              placeholder="Enlace a la imagen"
              required
            />
          </div>
          <span
            class="overlay__form-input-error overlay__form-imageURL-error"
          ></span>

          <button class="overlay__form-submit-button" type="submit">
            Crear
          </button>
        </form>
        <button
          class="overlay__form-close-button"
          id="closeImageOverlay"
        ></button>
      </div>
    </section>

    <!-- pop-up card preview -->

    <section class="overlay" id="overlayCardPreview">
      <div class="overlay__content overlay__content-preview">
        <figure class="overlay__figure">
          <img
            src="#"
            alt="tarjeta con imagen"
            class="overlay__preview-image"
          />
          <figcaption class="overlay__preview-caption">Morelia</figcaption>
        </figure>
        <button
          class="overlay__form-close-button"
          id="closePreviewOverlay"
        ></button>
      </div>
    </section>

    <!-- pop-up card delete -->

    <section class="overlay" id="overlayCardDelete">
      <div class="overlay__content">
        <form
          class="overlay__form"
          id="Form
        CardDelete"
          novalidate
        >
          <h2 class="overlay__title">¿Estás seguro?</h2>
          <button class="overlay__form-submit-button" type="submit">Sí</button>
        </form>
        <button
          class="overlay__form-close-button"
          id="closeCardDeleteOverlay"
        ></button>
      </div>
    </section>

    <template class="card__template">
      <div class="elements">
        <img class="content__elements-image" src=" " alt="imagenes-tarjetas" />
        <button class="content__elements__delete-button"></button>
        <div class="conent__elements-title-container">
          <h2 class="content__elements-title"></h2>
          <div class="content__elements-likes-container">
            <button class="content__elements__button-like"></button>
            <span class="content__elements__numbers-like">0</span>
          </div>
        </div>
      </div>
    </template>
  </body>
</html>
